$color1: rgba(48, 41, 47, 1);
$color2: rgba(248, 112, 96, 1);
$color3: rgba(232, 197, 71, 1);
$color4: rgba(181, 194, 183, 1);
$color5: rgba(252, 252, 252, 1);
$dark: $color1;
$rose: $color2;
$yellow: $color3;
$ashgrey: $color4;
$white: $color5;
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: $white;
    color: $dark;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: relative;
    text-align: center;
    background: $yellow;
    border-bottom: 1px solid $rose;
}

.header__title-wrapper {
    position: relative;
    padding: .5rem .2rem;
    display: inline-block;
}

.title__main {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: .5rem;
    font-family: 'Bungee Shade', cursive;
    font-size: 1.8rem;
    color: $dark;
    border-bottom: 2px solid $rose;
}

.title__secondary {
    position: relative;
    color: $dark;
    font-weight: 400;
    margin: 0;
    padding: 0.5rem 0;
    font-size: 1rem;
}

.content {
    font-size: 1.1rem;
    font-weight: 400;
}

.content__wrapper {
    padding: 1rem 1rem;
    width: 90%;
    margin: auto;
}

.buttons__wrapper {
    position: relative;
    width: 100%;
    text-align: center;
}

.button__copy {
    border: 0;
    padding: .5rem;
    border-radius: 5px;
    background: lighten($yellow, 20%);
    font-size: .8rem;
    font-weight: 400;
    cursor: pointer;
    transition: background .2s ease-in-out;
    border: 1px solid transparent;
    &:before {
        padding-right: .5rem;
    }
    &:hover {
        background: lighten($yellow, 10%);
    }
    &:active {
        background: $yellow;
    }
    &:focus {
        outline: 0;
        border: 1px solid $rose;
    }
}

.footer {
    padding: 1em;
    font-size: 0.8rem;
    font-weight: 400;
    background: $yellow;
    border-top: 1px solid $rose;
    text-align: center;
}

@media (min-width: 400px) {
    .content__wrapper {
        width: 80%;
    }
}

@media (min-width: 800px) {
    .header__title-wrapper {
        padding: 1rem .4rem;
    }
    .title__main {
        font-size: 2.5rem;
        border-bottom: 3px solid $rose;
    }
    .title__secondary {
        font-size: 1.5rem;
        font-weight: 300;
    }
    .content__wrapper {
        width: 65%;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .button__copy {
        font-size: 1rem;
        padding: .7rem;
    }
}

@media (min-width: 1200px) {
    .header__title-wrapper {
        padding: 1.5rem .8rem;
    }
    .title__main {
        font-size: 3rem;
        border-bottom: 4px solid $rose;
    }
    .title__secondary {
        font-size: 2rem;
        font-weight: 300;
    }
    .content__wrapper {
        width: 50%;
        font-size: 2rem;
        font-weight: 300;
    }
    .button__copy {
        font-size: 1.25rem;
        padding: .9rem;
    }
}