.tooltip {
    position: absolute;
    white-space: nowrap;
    display: block;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 1.5;
    padding: .5rem;
    font-size: .8rem;
    background-color: rgba(48, 41, 47, 1);
    color: rgba(252, 252, 252, 1);;
}

.tooltip:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid rgba(48, 41, 47, 1);
    border-top: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -10px;
    left: calc(50% - 10px);
}