<html>

<head>
    <title>With kraut please - traditional german filler text</title>
    <meta name="description" content="Bored of lorem ipsum? Create a unique filler text with the beauty of traditional german words. Bring kraut and autobahn into your mock up."
    />
    <meta name="google-site-verification" content="tlO36yTdpaOkBizSkrwCFrs8WLjQai-gzdTXg6mF9ys" />
    <meta name="google-site-verification" content="yrBp9tqRw376AUXbXZ608K7jIkSO-484FYMsz9jaccQ" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
</head>

<body>
    <header>
        <div class="heading">
            <h1 class="heading__main">krautipsum</h1>
            <h2 class="heading__secondary">traditional german filler text</h2>
        </div>
    </header>
    <main>
        <!--googleoff: all-->
        <p class="kraut" id="kraut">
            <%= paragraph %>
        </p>
        <!--googleon: all-->
        <button class="copy icon-docs" data-clipboard-target="#kraut" data-clipboard-action="copy">Copy to clipboard</button>
    </main>
    <footer>
        made with <i class="icon-heart"></i> on <a href="https://github.com/nicokoenig/krautipsum" target="_blank"><i class="icon-github-circled"></i></a>        by <a href="https://twitter.com/theNicoKoenig" target="_blank">nico</a>
    </footer>
    <script type="text/javascript" src="bundle.js" charset="utf-8" async></script>
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Roboto:300,400'] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
</body>

</html>